@gnosys:registry=https://packages.aliyun.com/6549daf63aaed849b035d118/npm/gnosys-release/
always-auth=true
//packages.aliyun.com/6549daf63aaed849b035d118/npm/gnosys-release/:_authToken=165187f1-641c-42ff-9c2a-19e871745c11

sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"
electron_mirror="https://cdn.npmmirror.com/binaries/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"
